.vscode/**
.clang-format
**/*.ts
code-analyse/**
scripts/**
cpptips-**.vsix
build.sh
publish.sh
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
list.js
rebuild.sh
data/basedb.db.tmp
data/usr
data/usr/**
data.zip
.DS_Store
**/.DS_Store
todo.txt
bin/node-v12.16.1-darwin-x64
bin/node-v12.16.1-darwin-x64/**
bin/node-v12.16.1-linux-x64
bin/node-v12.16.1-linux-x64/**
bin/node-v12.16.1-win-x64
bin/node-v12.16.1-win-x64/**
bin/node-v12.16.1-win-x86
bin/node-v12.16.1-win-x86/**
bin/tmp
bin/tmp/**
bin/node-dev
bin/node-dev/**